body {
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(
    to bottom,
    #009688  15%,
    #d9dbd4 15% 100%
    )
}

/*! DEBUG*/
.debug {
    border: dashed 1px red;
}

/*----------- Utility ----------*/

.mainBcg {
    background-color: #eaeaea;
}

.myRow {
    display: flex;

}

.myCol40{
    flex: 0 0 40%;
}
.myCol60{
    flex: 0 0 60%;
}

/*----------------
left col style 
----------------------*/

/* usersection */
.userSection {
    height: 50px;
}

.userDates {
    width: 50%;
}

.userImageContainer {
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
}

#userName {
    font-size: .7rem;
    padding-left: .5rem;
}

/* not section */

.bgcNot {
    background-color: #8edafc;
}

.notSection {
    height: 60px;
}

.notIconContainer {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 40px;
    color: #8edafc;
}

.notSection p {
    font-size: .6rem;
    margin-bottom: 0;
    margin-left: .5rem;
    font-weight: bold;
}