body {
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(
    to bottom,
    #009688  15%,
    #d9dbd4 15% 100%
    )
}

/*! DEBUG*/
.debug {
    border: dashed 1px red;
}

/*----------- Utility ----------*/

.mainBcg {
    background-color: #eaeaea;
}

.myRow {
    display: flex;

}

.myCol40{
    flex: 0 0 40%;
}
.myCol60{
    flex: 0 0 60%;
}

/*----------------
left col style 
----------------------*/

/* usersection */
.userSection {
    height: 80px;
}

.userDates {
    width: 50%;
    
}

.userOption i {
    font-size: 1.4rem;
    color: grey;
}

.userImageContainer {
    width: 25%;
    border-radius: 50%;
    overflow: hidden;
}

#userName {
    font-size: 1.3rem;
    padding-left: .5rem;
}

/* not section */

.bgcNot {
    background-color: #8edafc;
}

.notSection {
    height: 80px;
}

.notIconContainer {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 50px;
    color: #8edafc;
}
.notIconContainer i {
    font-size: 1.3rem;
}

.notSection p {
    font-size: 1rem;
    margin-bottom: 0;
    margin-left: .5rem;
    font-weight: bold;
}

/* ---------- CONTACT section ---------- */

.bgcContact {
    background-color: #fff;
}

.contactList {
    height:calc(100vh - 246px);
    overflow: auto;
}

.contactList img {
    border-radius: 50%;
    width: 12%;
}

.contactName {
    font-size: 1.3rem;
    
    padding-left: .7rem;
}

/*------------------ Search bar------------------ */


.myInput {
    background-color: #e5e5e5;
    border: transparent;
    height: 35px;
    font-size: 1rem;
    padding-left: 2.5rem;
    background-color: #fff;
    border: 1px solid rgb(212, 212, 212);
}

.myInput::placeholder {
    font-size: .8rem;
    font-weight: 500;
    vertical-align: middle;
}

.searchIconInput {
    position: absolute;
    left: 15px;
    top: 8px;
    font-size: .9rem;
    color:#8f8f8f;
}

/* ------------- right COL ---------------- */
/* header chat */
.myCol60 header {
    height: 80px;
    background-color: #eaeaea;
}

.myCol60 img {
    border-radius: 50%;
    width: 13%;
}

.contactChatName {
    font-size: 1.3rem;
}
.lastAccess {
    font-size: 1rem;
    color: grey;
}

.chatOption {
    width: 50%;
    color: grey;
    text-align: end;
}

.chatOption i {
    font-size: 1.4rem;
    padding-left: .3rem;
}

/* main */
.mainChat{
    height: calc(100vh - 195px);
    overflow: auto;
    background-image: url(/img/mine.jpg);
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.msg {
    padding: .5rem 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    border-radius: 10px; 
}

.msg.sent{
    align-self: self-end;
    background-color: #d5f9ba;
    margin-right: 1rem;
}

.msg.received {
   background-color: #fff;
   align-self: self-start;
   margin-left: 1rem;
}

.msgDate {
    font-size: .8rem;
    color: grey;
}

/*  footer chat */

.myCol60 footer {
    background-color: #eaeaea;
    height: 80px;
}

.messageInputContainer {
    flex: 0 0 80%;
}

.messageInput {
    height: 50px;
    border: none;
}

.chatCommand {
    width: 10%;
    font-size: 1.5rem;
    color: grey;
}

